    body h1 {
        font-size: 25px;
        font-weight: bold;
        text-align: center;
    }

#chat-details {
    align-self: center;
    width: 90%;
    margin-bottom: 20vh;
}

#chat-details label, input{
    width: 100%;
}