body {
    display: flex;
    flex-direction: column;
}

    body h1 {
        font-size: 25px;
        font-weight: bold;
        text-align: center;
    }

#global-chats {
    width: 90%;
    margin: auto;
}

#options {
    width: 90%;
    margin: auto;
}

#options {
    display: flex;
    flex-direction: column;
}