/*screen-width 220px*/
body {
    background: linear-gradient(rgb(135, 62, 145), 50%, rgb(106, 12, 214), 80%,  rgb(213, 34, 97));
    color: rgb(31, 31, 31);
    font-family: "Courier new";
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: flex-start;
    /* align-items: center; */
    /* align-items: center; */
}

    body h1 {
        font-size: 25px;
        font-weight: bold;
        text-align: center;
    }

    body .credentials {
        font-size: 15px;
        background-color: #CE2E8E;
        width: 90%;
        margin: auto;
        position: relative;
        /* top: 50%;     */
        /* left: 50%; */
        /* transform: translateY(-50%); */
        padding: 2vh 0 3vh 0;

    }

        body .credentials label {
            display: block;
            font-weight: bolder;
            margin: auto;
            width: 90%;
        }
    
        body .credentials input{
            display: block;
            margin: auto;
            width: 90%;
        }

        body .credentials button {
            display: block;
            width: 90%;
            margin: auto;
            margin-top: 4vh;
            background-color: #4ad561;
            font-weight: bold;
        }

    body #options {
        width: 100%;
        font-size: 13px;
        display: flex;
        flex-direction: row;
        /* align-content: space-around; */
        justify-content: space-around;
        /* justify-self: center; */
        /* position: relative; */
        /* margin: auto; */
        /* margin-top: 100vh; */
        /* transform: translateY(-200%); */
        /* display: flex; */
        /* position: absolute; */
        /* top: 100%; */
        /* transform: translateY(-100%); */
    }   
    
        body #options a {
            font-size: 10px;
            color: black;
            font-weight: bold;
            padding: 0 5vh 5vh 5vh;
        }



@media (min-width: 239px){
    body #options a {
        font-size: 11px;
    }
}

@media (min-width: 700px) {
    body #options a {
        font-size: 25px;
    }
}

@media (min-width: 1500px){

    body h1 {
        font-size: 100px;
    }

    body .credentials {
        width: 50%;
        font-size: 30px;
    }

    body #options{
        width: 50%;
        align-self: center;
        justify-content: space-between;
        font-size: 30px;
    }

        body #options a {
            font-size: 30px;
            padding: 30px 0px;
        }
}
