html {
    height: 100%;
}

body {
    height: 100%;
    background: linear-gradient(rgb(135, 62, 145), 50%, rgb(106, 12, 214), 80%,  rgb(213, 34, 97));
    color: black;
    font-family: "Courier new";
}

    body h1 {
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        padding-top: 2vh;
    }

    body .credentials {
        font-size: 15px;
        background-color: #CE2E8E;
        width: 90%;
        margin: auto;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translateX(-50%);
        padding: 2vh 0 3vh 0;

    }

        body .credentials label{
            display: block;
            font-weight: bolder;
            margin: auto;
            width: 90%;
        }
    
        body .credentials input{
            display: block;
            margin: auto;
            width: 90%;
        }

        body .credentials button {
            display: block;
            width: 90%;
            margin: auto;
            margin-top: 4vh;
            background-color: #4ad561;
            font-weight: bold;
        }
        
    body #options {
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 100%;
        transform: translateY(-100%);
        width: 100%;
    }   
    
        body #options a {
            font-size: 10px;
            color: black;
            font-weight: bold;
            padding: 0 5vh 5vh 5vh;
        }
        
@media (min-width: 1500px){

    body h1 {
        font-size: 40px;
    }

    body .credentials {
        width: 40%;
    }

    body #options a {
        font-size: 20px;
        padding: 0 15vh 7vh 15vh;
    }
}