html {
    height: 100%;
}

body {
    height: 100%;
    font-size: 200px;
    background-color: rgb(193, 18, 117);
    color: black;
    font-family: "Courier new";
    text-align: center  ;
    padding-top: 50%;
}